{% load static %}
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Weather Monitoring System</title>
<link rel="icon" href="{% static 'main/favicon.png' %}" type="image/x-icon"/>
<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'main/css/fontawsome.min.css' %}"/>

<script src="{% static 'main/js/chart.min.js' %}"></script>
<script src="{% static 'main/js/moment.js' %}"></script>
<script src="{% static 'main/js/chartjs-adapter-moment.js' %}"></script>
