<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% include 'main/head.html' %}
    <!-- <script src="assets/chart.min.js"></script> -->
  </head>
  <body style="background-color: darkslategray">
    {% include 'main/navbar.html' %}
    <main>
      <div class="container mt-3">{% if sensors %}
        <div id="sensor_container" class="row row-cols-1 row-cols-md-3 g-4">
          {% for sensor in sensors %}
          <div class="col">
            <div class="card h-100 text-white bg-dark" id="sensor_{{sensor.id}}">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">{{sensor.name}}</h5>
                <p class="card-text">
                  Air Quality: ??<br />
                  Temperature: ?? °C<br />
                  Pressure: ?? Pa<br />
                  Humidity: ??%<br />
                  Air Speed: ?? km/h<br />
                  Air Direction: ??<br />
                  Solar Irradiance: ??<br />
                </p>
                <!-- <ul class="list-group list-group-flush">
                  <li class="list-group-item text-white bg-dark">An item</li>
                  <li class="list-group-item text-white bg-dark">A second item</li>
                  <li class="list-group-item text-white bg-dark">A third item</li>
                </ul> -->
                <a href="{% url 'main:sensor' sensor.id %}" class="card-link">Details</a>
              </div>
              <div class="card-footer">
                <!--<small class="text-muted" last_updated="{{datapoint.date|date:'U'}}">Last updated 3 mins ago</small>-->
                <small class="text-muted" last_updated="">Last Updated null min ago</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>{% else %} NoData Found {% endif %}
      </div>
    </main>
  <script>
    function update_text() {
      var elms = document.getElementsByClassName('card-footer');
      for (i = 0; i < elms.length; i++) {
        var el = elms[i].children[0];
        var d = (Date.now() - new Date(el.getAttribute("last_updated")))/1000;
        var dy = parseInt(d/86400)
        var hr = parseInt(d%86400/3600)
        var mn = parseInt(d%86400%3600/60)
        var ss = parseInt(d%86400%3600%60)
        var txt = "Last Updated "
        if (dy > 0) {
          txt += dy + "day "
          txt += hr + "hr "
          txt += mn + "min "
          txt += ss + "s ago"
        } else if (hr > 0) {
          txt += hr + "hr "
          txt += mn + "min "
          txt += ss + "s ago"
        } else if (mn > 0) {
          txt += mn + "min "
          txt += ss + "s ago"
        } else {
          txt += ss + "s ago"
        }
        el.innerText = txt;
      }
    }
    function update_sensors(){
      $.getJSON('{% url 'api:get_sensor' %}', function(data){
        $.each(data, function(index, value){
         if (value.datapoint.date === null) return;
          var out = "";
          out += 'Air Quality: ??<br />'
          out += 'Temperature: ' + value.datapoint.temperature + ' °C<br />'
          out += 'Pressure: ' + value.datapoint.pressure + ' Pa<br />';
          out += 'Humidity: ' + value.datapoint.humidity + '%<br />';
          out += 'Air Speed: ' + value.datapoint.air_speed + ' km/h<br />';
          out += 'Air Direction: ' + value.datapoint.air_direction + '<br />';
          out += 'Solar Irradiance: ??<br />';
          $("#sensor_" + value.id + " > .card-body > .card-text").html(out);
          $("#sensor_" + value.id + " > .card-footer > .text-muted").attr("last_updated", value.datapoint.date.toString());
        });
      }).fail(function() {
        console.log( "error" );
      }).always(function(){
        setTimeout(update_sensors, 2000);
      });
    }
    update_sensors();
    setInterval(update_text, 500);
  </script>
  </body>
</html>
