<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    {% include 'main/head.html' %}
    <script src="{% static 'main/js/chart.min.js' %}"></script>
    <script src="{% static 'main/js/moment.js' %}"></script>
    <script src="{% static 'main/js/chartjs-adapter-moment.js' %}"></script>
    <style>
      canvas {
        max-height: 50vh;
      }
    </style>
  </head>
  <body style="background-color: darkslategray">
    {% include 'main/navbar.html' %}
    <main>
      <div class="container text-black mt-3">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Export Data</button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form>
                  <!-- <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" />
                    </div>
                  </div> -->
                  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Include</legend>
                    <div class="col-sm-10">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1" />
                        <label class="form-check-label" for="gridCheck1"> Air Quality </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck2" />
                        <label class="form-check-label" for="gridCheck2"> Temperature </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3" />
                        <label class="form-check-label" for="gridCheck3"> Pressure </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3" />
                        <label class="form-check-label" for="gridCheck3"> Humidity </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3" />
                        <label class="form-check-label" for="gridCheck3"> Air Speed </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3" />
                        <label class="form-check-label" for="gridCheck3"> Air Direction </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck3" />
                        <label class="form-check-label" for="gridCheck3"> Irradiance </label>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Range</legend>
                    <div class="col-sm-10">
                      <select class="form-select form-select-sm" aria-label="Default select example">
                        <option selected value="1">Last 2 Hours</option>
                        <option value="2">Last 12 Hours</option>
                        <option value="3">Last 24 Hours</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Format</legend>
                    <div class="col-sm-10">
                      <select class="form-select form-select-sm" aria-label="Default select example">
                        <option selected value="1">CSV</option>
                        <option value="2">JSON</option>
                      </select>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Export</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="canvas_container"></div>
      <div class="container" onclick="chart_controls(event);">
        <div class="float" style="bottom: 40px"><i class="fa fa-plus float_item"></i></div>
        <div class="float" style="bottom: 90px"><i class="fa fa-minus float_item"></i></div>
        <div class="float" style="bottom: 140px"><i class="fa fa-angle-left float_item"></i></div>
        <div class="float" style="bottom: 190px"><i class="fa fa-angle-right float_item"></i></div>
      </div>
    </main>
    <style>
      .float {
        position: fixed;
        width: 45px;
        height: 45px;
        right: 40px;
        background-color: #0c9;
        color: #fff;
        border-radius: 25px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
      }
      .float_item {
        margin-top: 15px;
      }
    </style>
    <script>
      var middle_of_call = false;
      var chart_timer = null;
      function chart_controls(e){
        if (e.target.nodeName == 'DIV') el = e.target.children[0];
        else el = e.target;
        console.log(el.classList);
        if (el.classList.contains("fa-plus")) data_limit = Math.round(Math.max(data_limit/2, 100), 0);
        if (el.classList.contains("fa-minus")) data_limit = Math.round(Math.min(data_limit*2, 10000), 0);
        if (el.classList.contains("fa-angle-left")) data_offset = Math.round(data_offset + data_limit, 0);
        if (el.classList.contains("fa-angle-right")) data_offset = Math.round(Math.max(data_offset - data_limit, 0), 0);
        update_chart();
      }

      var charts = {};
      $.each({
        "temperature": "Temperre", 
        "pressure": "Pressure",
        "humidity": "Humidity",
        "air_speed": "Air Speed",
      }, function(key, value) {
        h = '<div class="list-group-item border border-3 mt-3"><canvas id="' + key + '_chart"></canvas></div>';
        $("#canvas_container").append(h);
        charts[key] = new Chart($("#" + key + "_chart"), {
          type: "line",
          data: {datasets: [{
            label: value,
            backgroundColor: "rgb(255, 135, 77)",
            borderColor: "rgb(0, 0, 0)",
          }]},
          options: {
            animation: {duration: 0},
            parsing: {
              xAxisKey: 'date',
              yAxisKey: key
            },
            elements: {point:{radius: 0}},
            responsive: true,
            scales: {x: {type: 'time'}, y: {beginAtZero: false}},
          },
        });
      });
      var data_limit = 125;
      var data_offset = 0;
      function update_chart() {
        clearTimeout(chart_timer);
        chart_timer = null;
        //console.log("call");
        var url = '{% url 'api:get_data' sensors.id %}?limit=' + data_limit + '&offset=' + data_offset
        $.getJSON(url, function(data){
          //console.log("main");
          $.each(charts, function(key, value){
            value.data.datasets[0].data = data;
            value.update();
          });
        }).always(function (){
          //console.log("alws");
          if (chart_timer == null) chart_timer = setTimeout(update_chart, 1000);
        });
      }
      update_chart();
    </script>
  </body>
</html>
